<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p></p>
        <p></p>
        <p></p>
        <p><strong class="is-size-2 has-text-white has-background-black " style="font-family: impact;">BikerMaps<br>"バイカー御用達の飲食店を投稿しよう"</strong></p>
        <p><strong class="is-size-5 has-text-white has-background-black is-family-monospace">バイクで行きやすい飲食店を共有しあうサイト</strong></p>
      </div>
      <div class="columns is-centered">
        <div class="column is-one-fifth">
          <br>
          <%= link_to "LOG IN", new_user_session_path, class: "button is-outlined is-fullwidth has-text-white has-background-black" %>
          <br>
          <%= link_to "SIGN UP", new_user_registration_path, class: "button is-outlined is-fullwidth has-text-white has-background-black " %>
        </div>
      </div>
    </div>
  </article>